# build artifacts
*.so
*.dylib
*.dll
*.h
!**/include/*.h
/bench/*.bin
driver

# python
.venv/
.pytest_cache/
sdk/python/ztpl/libztpl.*
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# editor / os
.DS_Store
.idea/
*.swp
